.course-header>* {
  display: inline-block;
}

.course-header {
  width: 50%;
}

.categories {}

.category {
  border: 1px solid black;
  max-width: 400px;
  display: inline-grid;
  margin: 5px;
  padding: 5px;
}

.category-header {
  height: 30px;
}

.category-name {
  display: inline-block;
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 7px;
  padding-top: 7px;
}

.category-average {
  display: inline-block;
  float: right;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 7px;
  padding-right: 7px;
}

.assignment-name {
  text-align: left;
}

.assignment-grade {
  text-align: right;
}

.add-assignment, .add-category {
  display: inline-block;
  padding-left: 2px;
  padding-right: 2px;
}

.add-category {
  max-width: 400px;
  float: right;
}

.add-category>* {
  display: inline-block;
}

#add-category-form {
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
}

th {
  padding: 5px;
}

td {
  padding-left: 5px;
  padding-right: 5px;
}

table {
  width: 100%;
}

label {
  padding-right: 2px;
}
